/***** Font Imports *****/

/* Catamaran */
@font-face {
    font-family: 'Catamaran';
    src: url('../fonts/Catamaran-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Oliver */
@font-face {
    font-family: 'Oliver';
    src: url('../fonts/Oliver-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Work Sans */
@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/***** Variables *****/
:root {
    --color-base: #FFEEF4;
    --color-yellow: #F1DD97;
    --color-blue: #CCCDEA;
    --color-green: #BCD0BE;
    --color-red: #FFC9BD;
    --color-white: #FFFFFF;
    --color-black: #474853;

    --font-oliver: 'Oliver', sans-serif;
    --font-catamaran: 'Catamaran', sans-serif;
    --font-work: 'WorkSans', sans-serif;

    --font-weight-regular: 400;

    --font-16: 1rem;
    --font-24: 1.5rem;
    --font-32: 2rem;
    --font-38: 2.375rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-base);
    color: var(--color-black);

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

body {
    display: grid;
    grid-template-columns: repeat(10, .5fr);
    grid-template-rows: repeat(10, .5fr);
    gap: 1rem;
    padding: 2rem;

    color: var(--color-black);
}

.item {
    border-radius: 25px;

    a {
        text-decoration: none;
        color: var(--color-black);
    }
}

.header-subpages {
    background-color: var(--color-red);
    grid-area: 1 / 1 / 2 / 11;
}

.sidebar {
    background-color: var(--color-white);
    grid-area: 2 / 1 / 11 / 2;
    
    display: flex;
    align-items: center;
}

.vertical-text {
    transform: rotate(-90deg);
    white-space: nowrap;

    font-size: var(--font-32);
    font-family: var(--font-oliver);
    color: var(--color-text);
}

.main {
    grid-area: 2 / 2 / 11 / 11;
    scroll-behavior: auto;
}

.main-titled {
    font-family: var(--font-oliver);
    font-size: var(--font-24);
    margin-bottom: 1rem;
}

.main p {
    font-family: var(--font-catamaran);
    font-size: var(--font-16);
    margin: .5rem 0 .5rem 0;
}

.italicize {
    font-style: italic;
}
