.programming-projects {
    background-color: var(--color-green);
    grid-area: 1 / 1 / 3 / 4;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
}

.header {
    background-color: var(--color-red);
    grid-area: 1 / 4 / 2 / 11;
}

.design-projects {
    background-color: var(--color-white);
    grid-area: 3 / 1 / 5 / 4;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
}

.home-buttons{
    text-decoration: none;
    color: inherit; 
    display: block; 
    width: 100%;
    height: 100%; 

    display: flex;
}

.photo {
    background-color: black;
    grid-area: 5 / 1 / 11 / 4;
}

.intro {
    background-color: var(--color-blue);
    grid-area: 2 / 4 / 8 / 7;

    padding: 2rem;
    font-family: var(--font-work);
    font-size: var(--font-24);
}

.work-experience {
    background-color: var(--color-white);
    grid-area: 2 / 7 / 5 / 11;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
    text-align: right;
}

.education {
    background-color: var(--color-green);
    grid-area: 5 / 7 / 8 / 11;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
    text-align: right;
}

.contact {
    background-color: var(--color-red);
    grid-area: 8 / 4 / 11 / 8;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
    text-align: center;
}

.about {
    background-color: var(--color-blue);
    grid-area: 8 / 8 / 11 / 11;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);

    display: flex;
    justify-content: center;
    align-items: center;
}