/***** General Project Page *****/
.projects-blurb {
    background-color: var(--color-yellow);
    grid-area: 2 / 2 / 6 / 11;

    padding: 2rem;
    font-family: var(--font-work);
    font-size: var(--font-24);
}

.programming-button {
    background-color: var(--color-green);
    grid-area: 6 / 2 / 11 / 7;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
}

.project-button:hover {
    color: var(--color-white);
}

.design-button {
    background-color: var(--color-blue);
    grid-area: 6 / 7 / 11 / 11;

    padding: 2rem;
    font-family: var(--font-oliver);
    font-size: var(--font-32);
    text-decoration: none;
}

.project-button {
    text-decoration: none;
    color: inherit; 
    display: block; 
    width: 100%;
    height: 100%; 

    display: flex;
    justify-content: center;
    align-items: center;
}

/***** Programming Page *****/
.sidebar-coding {
    background-color: var(--color-green);
}

.main-coding {
    background-color: var(--color-blue);
    padding: 2rem;
}

.sidebar-design {
    background-color: var(--color-yellow);
}

.main-design {
    background-color: var(--color-green);
    padding: 2rem;
}