.sidebar-work {
    background-color: var(--color-yellow);
}

.sidebar-education {
    background-color: var(--color-white);
}

.main-education {
    background-color: var(--color-green);
    padding: 2rem;
}

.main-work {
    background-color: var(--color-blue);
    padding: 2rem;
}