body {
    background-color: #F9E2D9;;
}

button {
      display:inline-block;
      border-radius: 30px;
      background: #CCCB00;
      border: none;

      color: #404040;
      font-family: Georgia;
      font-style: italic;
      line-height: normal;
}

.container {
    text-align:center;
} 
