.sidebar-about {
  background-color: var(--color-blue);
}

.main-about {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-text-1 {
  font-family: var(--font-catamaran);
  font-size: var(--font-16);
  line-height: 1.6;
}

.about-photos {
  display: flex;
  gap: 1rem;
}

.about-photo {
  flex: 1;
  border-radius: 25px;
  overflow: hidden;
}

.about-photo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
  display: block;
}

.about-text-2 {
  flex: 1;
  font-family: var(--font-catamaran);
  font-size: var(--font-16);
  line-height: 1.6;
  background-color: var(--color-green);
  padding: 1.5rem;
  border-radius: 25px;
}
