.header {
  padding: 1rem;
  position: relative;
  border-radius: 25px;
}

.logo-text {
  font-family: var(--font-oliver);
  margin-left: 1rem;
  font-size: var(--font-24);
}

.logo-text a {
  color: var(--color-black);
  text-decoration: none;
}

.nav-toggle-label {
  cursor: pointer;
  height: 1.25rem;
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
  width: 1.625rem;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.nav-toggle-label span {
  background-color: #333;
  border-radius: 2px;
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  transform-origin: left;
  transition: all 0.3s ease;
}

.nav-toggle-label span:nth-child(1) {
  top: 0;
}

.nav-toggle-label span:nth-child(2) {
  top: 0.5rem;
}

.nav-toggle-label span:nth-child(3) {
  top: 1rem;
}

.nav-toggle-label.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px;
}

.nav-toggle-label.open span:nth-child(2) {
  opacity: 0;
}

.nav-toggle-label.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-toggle-label.disabled {
  pointer-events: none;
  opacity: 0;
}

nav {
  background: var(--color-yellow);
  height: 100vh;
  width: 18.75rem;
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 1000;
  transition: right 0.3s ease;
}

nav.nav-open {
  right: 0;
}

nav ul {
  list-style: none;
  margin: 7rem 0;
  padding: 2rem;
}

nav ul li {
  margin-bottom: 1rem;
  font-family: var(--font-catamaran);
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-family: var(--font-catamaran);
  font-size: var(--font-16);
}

nav ul li button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #333;
  font-family: var(--font-catamaran);
  font-size: var(--font-16);
}

nav ul li:first-child a {
  font-family: var(--font-oliver);
  font-size: var(--font-24);
}

nav ul li a:hover,
nav ul li button:hover {
  color: white;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .logo-text {
    margin-left: 0.5rem;
    font-size: var(--font-16);
  }

  .nav-toggle-label {
    right: 1rem;
    top: 1.5rem;
  }
}
