/***** Font Imports *****/

/* Catamaran */
@font-face {
  font-family: "Catamaran";
  src: url("../public/fonts/Catamaran-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Oliver */
@font-face {
  font-family: "Oliver";
  src: url("../public/fonts/Oliver-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Work Sans */
@font-face {
  font-family: "WorkSans";
  src: url("../public/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/***** Variables *****/
:root {
  --color-base: #ffeef4;
  --color-yellow: #f1dd97;
  --color-blue: #cccdea;
  --color-green: #bcd0be;
  --color-red: #ffc9bd;
  --color-white: #ffffff;
  --color-black: #474853;

  --font-oliver: "Oliver", sans-serif;
  --font-catamaran: "Catamaran", sans-serif;
  --font-work: "WorkSans", sans-serif;

  --font-weight-regular: 400;

  --font-16: 1rem;
  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-38: 2.375rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-base);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  html,
  body {
    height: auto;
    overflow: auto;
  }

  #root {
    height: auto;
  }
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

.item {
  border-radius: 25px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.italicize {
  font-style: italic;
}
